<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <div class="container">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {{#if user}}
    <a href="/lessons" class="navbar-brand">Lesson Maintenance</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      </ul>
    {{/if}}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link px-5 font-weight-bold" href="/"><b>Student Site</b></a>
        </li>
        {{#if user}}
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">Geology</a>
            <div class="dropdown-menu w-25">
              <a href="/lessons/GEO/1" class="dropdown-item">Semester 1</a>
              <a href="/lessons/GEO/2" class="dropdown-item">Semester 2</a>
              <div class="dropdown-divider"></div>            
              <a href="/lessons/add?subject=GEO" class="dropdown-item">+ GEO Notebook</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">Marine Biology</a>
            <div class="dropdown-menu w-25">
              <a href="/lessons/MB/1" class="dropdown-item">Semester 1</a>
              <a href="/lessons/MB/2" class="dropdown-item">Semester 2</a>
              <div class="dropdown-divider"></div>
              <a href="/lessons/add?subject=MB" class="dropdown-item">+ MB Notebook</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">Biology</a>
            <div class="dropdown-menu w-25">
              <a href="/lessons/BIO/1" class="dropdown-item">Semester 1</a>
              <a href="/lessons/BIO/2" class="dropdown-item">Semester 2</a>
              <div class="dropdown-divider"></div>
              <a href="/lessons/add?subject=BIO" class="dropdown-item">+ BIO Notebook</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">Forensics</a>
            <div class="dropdown-menu w-25">
              <a href="/lessons/FORENSICS/1" class="dropdown-item">Semester 1</a>
              <a href="/lessons/FORENSICE/2" class="dropdown-item">Semester 2</a>
              <div class="dropdown-divider"></div>
              <a href="/lessons/add?subject=FORENSICS" class="dropdown-item">+ FORENSICS Notebook</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">Subjects</a>
            <div class="dropdown-menu w-25">
              <a href="/subjects" class="dropdown-item">List</a>
              <div class="dropdown-divider"></div>
              <a href="/subjects/add" class="dropdown-item">Add</a>
            </div>
          </li>
          <li class="nav-item">
          <a href="/users/logout" class="nav-link">Logout</a>
          </li>
        {{else}}
        <li class="nav-item">
          <a href="/users/login" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a href="/users/register" class="nav-link">Register</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
