<div class="container mt-5">
  <h3>Summary of Lessons</h3>
  <table class="table mt-3">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Semester</th>
        <th># of Lessons</th>
      </tr>
    </thead>
    {{#each lessons}}
    <tbody>
      <tr>
        <td>{{_id.subject}}</td>
        <td>{{_id.semester}}</td>
        <td>{{count}}</td>
      </tr>
    </tbody>
    {{else}}
      <div class="alert bg-info text-light text-center mt-2">
        No lessons found
      </div>
    {{/each}}
  </table>
</div>
